<ion-view title="Home" id="page1" style="background-color:#DCD1EB;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card card" id="home-card21">
            <ion-item class="item-icon-left  " id="home-list-item10">
                <i class="icon ion-help"></i>What is Swappy?</ion-item>
            <div class="item item-body " id="home-list-item-container3">
                <p id="home-markdown2" style="margin-top:0px;color:#000000;" class=" ">Swappy is an application for exchanging or giving away your old clothes. It's super easy to use: simply register and explore posted ads.</p>
            </div>
        </div>
        <div class="list card " id="home-card23">
            <ion-item class="item-icon-left  " id="home-list-item9">
                <i class="icon ion-heart"></i>Can I mark item as favorite?</ion-item>
            <div class="item item-body " id="home-list-item-container4">
                <p id="home-markdown4" style="margin-top:0px;color:#000000;" class=" ">Of course! You can mark unlimited items as your favorite but make sure you are registered ;)</p>
            </div>
        </div>
        <div class="list card " id="home-card24">
            <ion-item class="item-icon-left  " id="home-list-item13">
                <i class="icon ion-plus-round"></i>How can I post ad?</ion-item>
            <div class="item item-body " id="home-list-item-container6">
                <p id="home-markdown6" style="color:#000000;" class=" ">Posting ads is simple. Go to "New ad", fill in the form and submit the data. That's it!</p>
            </div>
        </div>
        <div class="list card " id="home-card25">
            <ion-item class="item-icon-left  " id="home-list-item14">
                <i class="icon ion-cash"></i>How much do I have to pay?</ion-item>
            <div class="item item-body " id="home-list-item-container7">
                <p id="home-markdown8" style="color:#000000;" class=" ">Swappy is free of charge. We don't take any fee nor we charge shipping. Shipping is arranged between users.</p>
            </div>
        </div>
    </ion-content>
</ion-view>