<ion-view title="New ad" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="newAd-form4" class="list ">
            <label class="item item-input " id="newAd-input11" name="itemName">
                <span class="input-label">Item name</span>
                <input type="text" placeholder="Item name">
            </label>
            <label class="item item-input " id="newAd-textarea1" name="itemDescr">
                <span class="input-label">Item description</span><textarea placeholder="Item description"></textarea>
            </label>
            <label class="item item-select " id="newAd-select1" name="itemType">
                <span class="input-label">Item type</span>
                <select>
                    <option>T-Shirt</option>
                    <option>Pants</option>
                    <option>Dress</option>
                    <option>Shirt</option>
                    <option>Sportswear</option>
                    <option>Shoes</option>
                    <option>Swimsuit</option>
                    <option>Other</option>
                </select>
            </label>
            <label class="item item-select " id="newAd-select2" name="itemSize">
                <span class="input-label">Size</span>
                <select>
                    <option>Extra Small</option>
                    <option>Small</option>
                    <option>Medium</option>
                    <option>Large</option>
                    <option>Extra Large</option>
                    <option>Double Extra Large</option>
                </select>
            </label>
            <label class="item item-select " id="newAd-select3" name="itemState">
                <span class="input-label">State</span>
                <select>
                    <option>Bad</option>
                    <option>Good</option>
                    <option>Like new</option>
                    <option>Unworn</option>
                </select>
            </label>
            <label class="item item-select " id="newAd-select4" name="itemGender">
                <span class="input-label">Gender</span>
                <select>
                    <option>Female</option>
                    <option>Male</option>
                </select>
            </label>
            <label class="item item-select " id="newAd-select5" name="itemCategory">
                <span class="input-label">Category</span>
                <select>
                    <option>Woman</option>
                    <option>Man</option>
                    <option>Girls</option>
                    <option>Boys</option>
                </select>
            </label>
            <button id="newAd-button17" class=" button button-dark  button-block ">New ad</button>
        </form>
    </ion-content>
</ion-view>